"""
Python constants.
"""

{%- from "lib_constants_py.j2" import defmod_constants with context -%}

{%- for defmod in defmods -%}
 {%- if defmod.inctype != 'required' -%}
  {%- continue -%}
 {%- endif %}

class {{ defmod.name }}Constants(object):
{{- defmod_constants(defmod, '    ') }}
{% endfor -%}
